<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">

    <style>

    </style>

</head>
<body>
    
    <main>
        <!-- Header area -->
        <header class="header">
            <a href="" class="logo">
                <img src="images/facebook.png" alt="">
            </a>
    
            <nav class="navigation">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Our Products</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </header>

        <!-- Content area -->
        <div class="wrapper">

            <!-- Hero section -->
            <section class="hero">
                <h1><span>Orange</span> Template</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </section>

            <!-- About section -->
            <section class="about">
                <div class="three-column first-column">
                    <h3><span>About</span> us</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <div class="three-column">
                    <h3><span>Our</span> Benefits</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <div class="three-column">
                    <h3><span>Who</span> we are</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </section>

            
            <!-- Compnay porfoilio section -->
            <section class="portfolio">
                <div class="class="three-column"">
                    <figure>
                        <img src="images/work.jpg" alt="" title="Portfolio">
                        <figcaption>eCommerce</figcaption>
                    </figure>
                </div>
                <div class="class="three-column"">
                    <figure>
                        <img src="images/work.jpg" alt="" title="Portfolio">
                        <figcaption>eCommerce</figcaption>
                    </figure>
                </div>
                <div class="class="three-column"">
                    <figure>
                        <img src="images/work.jpg" alt="" title="Portfolio">
                        <figcaption>eCommerce</figcaption>
                    </figure>
                </div>
            </section>
            
            <section class="portfolio">
                <div class="class="three-column"">
                    <figure>
                        <img src="images/work.jpg" alt="" title="Portfolio">
                        <figcaption>eCommerce</figcaption>
                    </figure>
                </div>
                <div class="class="three-column"">
                    <figure>
                        <img src="images/work.jpg" alt="" title="Portfolio">
                        <figcaption>eCommerce</figcaption>
                    </figure>
                </div>
                <div class="class="three-column"">
                    <figure>
                        <img src="images/work.jpg" alt="" title="Portfolio">
                        <figcaption>eCommerce</figcaption>
                    </figure>
                </div>
            </section>
        </div>
    </main>

</body>
</html>